<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>

<nav class="navbar bg-dark" data-bs-theme="dark">
    <div>
        <a class="navbar-brand" th:href="@{/home}">Home</a>
        <a class="navbar-brand" th:href="@{/course/create}">Add Course</a>
    </div>
</nav>
<div>
    <div class="container body-content" layout:fragment="content">
    </div>
</div>
<div class="card-footer">
    <hr/>
    Lập trình ứng dụng Java - Nguyễn Xuân Đức, Nguyễn Xuân Việt, Cao Lộc Vinh, Phạm Đức Tâm
</div>
</body>
</html>