<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<th:block th:replace="_layout"></th:block>
<div class="container body-content" layout:fragment="content">
    <form class="form" method="post" th:action="@{/course/create}" th:object="${course}">
        <div class="form-group">
            <label for="name">Place</label>
            <input class="form-control" id="name" placeholder="Place" th:field="*{place}" type="text">
        </div>
        <div class="form-group">
            <label for="image">Start Date:</label>
            <input class="form-control" id="image" placeholder="image" th:field="*{startDate}" type="date">
        </div>
        <div class="form-group">
            <label for="lectureName">Lecture:</label>
            <input class="form-control" id="lectureName" placeholder="LectureName" th:field="*{lectureName}"
                   type="text">
        </div>
        <input class="btn btn-success" type="submit" value="Add">
    </form>
</div>
</body>
</html>